@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v28/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hAc5W1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v32/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQXME.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
}
body {
  color: rgb(var(--foreground-rgb));
  background: #f5f5f5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
/* -------------------------------------------------------------------------- */
/*                                Global Layout                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------- Left Side ------------------------------- */
.left_side {
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  color: #878e94;
}
.left_side .website_title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat';
  font-weight: 900;
  margin-top: 10px;
  color: #17202A;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.left_side .website_title i {
  margin-right: 10px;
  color: #406bde;
}
.left_side .menu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.left_side .menu .menu_item {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 1rem;
  font-family: 'Noto Sans';
}
.left_side .menu .menu_item i {
  width: 20px;
  margin-right: 10px;
  color: #878e94;
  text-align: center;
}
/* --------------------------------- Top Bar -------------------------------- */
.right_side {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(to bottom right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  color: rgb(var(--foreground-rgb));
}
.right_side .top_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 40px 20px 20px;
  height: 100px;
}
.right_side .top_bar input {
  width: 25%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #17202A;
  background-color: #f5f5f5;
  outline: none;
  font-family: 'Noto Sans';
  transition: all 0.2s ease-in-out;
}
.right_side .top_bar input:focus {
  border: 1px solid #406bde;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.right_side .top_bar .right_pp {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: right;
}
.right_side .top_bar .right_pp .pp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: #17202A;
  padding: 2px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.right_side .top_bar .right_pp .pp_name {
  font-size: 1rem;
  color: #878e94;
  margin-right: 0px;
  font-family: 'Noto Sans';
}
/* -------------------------------------------------------------------------- */
/*                                  DASHBOARD                                 */
/* -------------------------------------------------------------------------- */
.home_container_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
.home_container_top .your_library_card {
  width: calc(70% - 10px);
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.home_container_top .your_library_card .image_ {
  width: 50%;
  height: 450px;
  border-radius: 10px;
}
.home_container_top .your_library_card .text {
  margin-bottom: 40px;
  padding: 0;
  padding: 0 30px;
}
.home_container_top .your_library_card .text h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #17202A;
  font-family: 'Montserrat';
  margin-top: 40px;
  text-transform: uppercase;
}
.home_container_top .your_library_card .text h2 {
  font-size: 1rem;
  color: #406bde;
  font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.home_container_top .your_library_card .text h3 {
  font-size: 1rem;
  color: #878e94;
  font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
}
.home_container_top .your_library_card .text .opening {
  font-size: 1rem;
  color: #878e94;
  font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
  padding-left: 30px;
  border-left: 2px solid #406bde;
  margin-top: 20px;
  font-weight: bold;
}
.home_container_top .your_library_card .text .opening h3 {
  color: #406bde;
}
.home_container_top .opened {
  width: calc(30% - 10px);
  height: 490px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.home_container_top .opened .opened_title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #17202A;
  font-family: 'Montserrat';
  margin-top: 40px;
  text-transform: uppercase;
}
.home_container_top .opened .opened_text {
  font-size: 1rem;
  color: #878e94;
  font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
  margin-top: 20px;
  text-align: center;
}
.home_container_top .opened .opened_button {
  background-color: #406bde;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Noto Sans';
  cursor: pointer;
  width: fit-content;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}
.home_container_top .opened .opened_button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.329);
  color: #406bde;
  background-color: white;
}
.home_discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.home_discover .discover_title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #17202A;
  font-family: 'Montserrat';
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  padding-left: 60px;
}
.home_discover .discover_text {
  font-size: 1rem;
  color: #878e94;
  font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
  margin-top: 20px;
  text-align: left;
  width: 100%;
  padding-left: 60px;
}
.home_discover .home_books_elements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  width: 100%;
  padding: 0 40px;
}
.home_discover .home_books_elements .book_item {
  transition: all 0.2s ease-in-out;
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}
.home_discover .home_books_elements .book_item:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.329);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.home_discover .home_books_elements .book_item .bg-cover {
  width: 200px;
  height: 283px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.home_discover .home_books_elements .book_item .book_item_title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #406bde;
  font-family: 'Noto Sans';
  margin-top: 10px;
  text-align: center;
}
.home_discover .home_books_elements .book_item .book_item_author {
  font-size: 0.8rem;
  color: #17202A;
  font-family: 'Noto Sans';
  margin-top: 5px;
  text-align: center;
}
.home_discover .home_books_elements .book_item .book_item_author::before {
  content: "- By ";
}
/* -------------------------------------------------------------------------- */
/*                                  BOOK PAGE                                 */
/* -------------------------------------------------------------------------- */
.layout_book {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 90px);
}
.layout_book .left_side_book {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  overflow: auto;
  height: 100%;
}
.layout_book .left_side_book .top_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.layout_book .left_side_book .book_number_container {
  background-color: white;
  width: calc(50% - 10px);
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.layout_book .left_side_book .book_number_container h1 {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #17202A;
  font-family: 'Noto Sans';
  margin-top: 40px;
  text-transform: uppercase;
}
.layout_book .left_side_book .book_number_container h2 {
  font-size: 5rem;
  color: #406bde;
  font-family: 'Montserrat';
  height: 90px;
  margin: 0;
  padding: 0;
  margin-top: -30px;
}
.layout_book .left_side_book .book_number_container p {
  font-size: 1.2rem;
  color: #878e94;
  font-family: 'Noto Sans';
  margin-bottom: 40px;
  padding: 0;
  padding: 0 30px;
  border-bottom: 2px solid #406bde;
}
.layout_book .left_side_book .top_section {
  background-color: white;
  width: calc(50% - 10px);
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.layout_book .left_side_book .top_section .text {
  width: 30%;
  margin: 40px 0 40px 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.layout_book .left_side_book .top_section .text .welcome {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #17202A;
  font-family: 'Noto Sans';
}
.layout_book .left_side_book .top_section .text p {
  font-size: 1rem;
  color: #878e94;
  font-family: 'Noto Sans';
  margin-bottom: 20px;
}
.layout_book .left_side_book .top_section .text .latest {
  background-color: #406bde;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Noto Sans';
  cursor: pointer;
  width: fit-content;
}
.layout_book .left_side_book .top_section .image_ {
  width: 70%;
  height: 100%;
  display: flex ;
  height: 300px;
  border-radius: 10px;
}
.layout_book .left_side_book .books_container {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin-top: 20px;
}
.layout_book .left_side_book .books_container .books_option_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.layout_book .left_side_book .books_container .search_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
}
.layout_book .left_side_book .books_container .search_container i {
  color: #406bde;
  font-size: 1rem;
}
.layout_book .left_side_book .books_container .search_container input {
  width: 92%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0 20px;
  font-size: 1rem;
  color: #17202A;
  background-color: #f5f5f5;
  outline: none;
  font-family: 'Noto Sans';
  transition: all 0.2s ease-in-out;
}
.layout_book .left_side_book .books_container .search_container input:focus {
  border: 1px solid #406bde;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.layout_book .left_side_book .books_container .filter_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: auto;
  color: #878e94;
  font-family: 'Noto Sans';
  font-size: 1rem;
  border-bottom: 2px solid #cccccc;
  padding: 0px 10px;
}
.layout_book .left_side_book .books_container .filter_container .filter_title {
  margin-right: 20px;
  font-weight: bold;
}
.layout_book .left_side_book .books_container .filter_container .filter_item {
  transition: all 0.2s ease-in-out;
  margin-right: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.layout_book .left_side_book .books_container .filter_container .filter_item:hover {
  color: #406bde;
}
.layout_book .left_side_book .books_container .filter_container .active {
  color: #406bde;
  border-bottom: 2px solid #406bde;
  font-weight: bold;
}
.layout_book .left_side_book .books_container .books_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.layout_book .left_side_book .books_container .books_list .book_item {
  transition: all 0.2s ease-in-out;
  width: 350px;
  min-width: 33%;
  height: 150px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.layout_book .left_side_book .books_container .books_list .book_item:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.329);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.layout_book .left_side_book .books_container .books_list .book_item .book_image {
  width: 33%;
  height: 100%;
  background-color: red;
  border-radius: 10px;
  border: 1px solid #878e94;
}
.layout_book .left_side_book .books_container .books_list .book_item .book_info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 10px;
}
.layout_book .left_side_book .books_container .books_list .book_item .book_info .book_title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #406bde;
  font-family: 'Noto Sans';
}
.layout_book .left_side_book .books_container .books_list .book_item .book_info .book_author {
  font-size: 0.8rem;
  color: #17202A;
  font-family: 'Noto Sans';
}
.layout_book .left_side_book .books_container .books_list .book_item .book_info .book_author::before {
  content: "- By ";
}
.layout_book .left_side_book .books_container .books_list .book_item .book_info .book_category {
  font-size: 0.7rem;
  color: #878e94;
  font-family: 'Noto Sans';
  font-weight: 100;
  margin-top: 10px;
}
.layout_book .left_side_book .books_container .books_list .book_item .book_info .book_rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 10px;
}
.layout_book .left_side_book .books_container .books_list .book_item .book_info .book_rating i {
  color: #f1c40f;
  margin-right: 2px;
}
/* ------------------------------- CREATE BOOK ------------------------------ */
.create_book_button {
  background-color: #406bde;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Noto Sans';
  cursor: pointer;
  width: fit-content;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}
.create_book_button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.329);
  color: #406bde;
  background-color: white;
}
/* ---------------------------- MODAL CREATE BOOK --------------------------- */
.create_book_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}
.create_book_form label {
  font-size: 1rem;
  color: #878e94;
  font-family: 'Noto Sans';
  font-weight: bold;
}
.create_book_form input[type="text"] {
  width: 100%;
  margin-left: 20px;
  height: 40px;
  border: 2px solid transparent;
  border-bottom: 2px solid #406bde;
  background-color: #f5f5f5;
  padding: 0 20px;
  font-size: 0.8rem;
  color: #17202A;
  outline: none;
  font-family: 'Noto Sans';
  transition: all 0.2s ease-in-out;
}
.create_book_form input[type="text"]:focus {
  border: 2px solid #406bde;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.create_book_form select {
  width: 100%;
  margin-left: 20px;
  height: 40px;
  border: 2px solid transparent;
  border-bottom: 2px solid #406bde;
  background-color: #f5f5f5;
  padding: 0 20px;
  font-size: 0.8rem;
  color: #17202A;
  outline: none;
  font-family: 'Noto Sans';
  transition: all 0.2s ease-in-out;
}
.create_book_form .title_group,
.create_book_form .author_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 20px;
}
.create_book_form .genres_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 20px;
}
.create_book_form .genres_group .genresList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 20px;
  border: 2px solid #406bde;
  border-radius: 10px;
  padding: 10px;
}
.create_book_form .genres_group .genresList .genre_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  padding: 5px 0px;
}
.create_book_form .genres_group .genresList .genre_item input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
/* -------------------------------------------------------------------------- */
/*                                  BOOK PAGE                                 */
/* -------------------------------------------------------------------------- */
.layout_book {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}
.layout_book .left_book {
  width: 70%;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  margin-left: 20px;
}
.layout_book .left_book .book_owners {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}
.layout_book .left_book .book_owners .book_owners_title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #406bde;
  font-family: 'Montserrat';
  text-transform: uppercase;
}
.layout_book .left_book .book_owners .book_owners_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}
.layout_book .left_book .book_owners .book_owners_list .book_owners_item {
  background-color: #406bde;
  transition: all 0.2s ease-in-out;
  width: 200px;
  height: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.layout_book .left_book .book_owners .book_owners_list .book_owners_item:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.329);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transform: scale(1.05);
}
.layout_book .left_book .book_owners .book_owners_list .book_owners_item div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.layout_book .left_book .book_owners .book_owners_list .book_owners_item p {
  font-size: 1rem;
  color: white;
  font-weight: bold;
  font-family: 'Noto Sans';
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.layout_book .right_book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}
.layout_book .right_book .book_image {
  width: 200px;
  height: 300px;
  background-color: red;
  border-radius: 10px;
  border: 1px solid #878e94;
}
.layout_book .right_book .book_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #406bde;
  font-family: 'Montserrat';
  margin-top: 30px;
  text-align: center;
}
.layout_book .right_book .book_author {
  font-size: 1rem;
  color: #17202A;
  font-family: 'Noto Sans';
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.layout_book .right_book .book_author div {
  margin-right: 5px;
  background-color: #406bde;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border: 4px solid #406bde;
}
.layout_book .right_book .book_genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.layout_book .right_book .book_genres li {
  font-size: 0.8rem;
  color: #878e94;
  font-family: 'Noto Sans';
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.layout_book .right_book .book_actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  border-top: 2px solid #f5f5f5;
  padding-top: 20px;
}
.layout_book .right_book .book_actions .book_actions_title {
  font-size: 1rem;
  color: #406bde;
  font-family: 'Noto Sans';
  margin-bottom: 10px;
  font-weight: bold;
}
.layout_book .right_book .book_actions .book_actions_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.layout_book .right_book .book_actions .book_actions_buttons .book_actions_button {
  background-color: #406bde;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Noto Sans';
  cursor: pointer;
  width: fit-content;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}
.layout_book .right_book .book_actions .book_actions_buttons .book_actions_button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.329);
  color: #406bde;
  background-color: white;
}
.book_comments_bar {
  background-color: white;
  height: auto;
  width: 100%;
  border-radius: 10px;
  box-shadow: none;
  color: #17202A;
  font-family: 'Noto Sans';
  font-size: 1rem;
  margin-top: 0px;
  font-weight: normal;
}
.MuiBox-root {
  flex-direction: column;
  background-color: transparent;
  padding: 0;
  overflow: hidden;
}
.book_comments_wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.book_comments_wrapper .MuiPaper-root {
  position: unset;
  width: 100%;
  height: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: none;
  color: #17202A;
  font-family: 'Noto Sans';
  font-size: 1rem;
  background-color: white;
  font-weight: normal;
  z-index: -1;
  padding: 20px;
}
.book_comments_wrapper .MuiPaper-root .comments {
  display: flex;
  flex-direction: column!important;
}
